body{
    font-size: 18px;
    color: dimgray;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    z-index: -1;

}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
.btn-nova{
    background-color: darkcyan;
    color: darkcyan;;
}
.service-header{
    background-color: white;
    border-radius: 3px;

}
.service-header:after{
    content: "";
    clear: both;
    display: table;
}
.service{
    float: left;
    color: gray;
    padding: 10px;
    padding-right: 20px;
    font-size: 24px;
}
.service:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    cursor: pointer;
}
.post{
    width: 20%;
    background-color: white;
    border-radius: 3px;
}
.meta-info{
    border-bottom: rgb(238, 238, 238) 1px solid;
}
.meta-info:after{
    content: "";
    clear: both;
    display: table;
}
.title{
    color: black;
}

.nova-margin{
    margin-top: 10px;
}
.nova-padding{
    padding: 15px;
}
.cust-padding{
    padding-right: 15px;
    padding-left: 5px;
}
.filter{
    background-color: white;
    border-radius: 3px;

}
.filter:after{
    content: "";
    clear: both;
    display: table;
}
.filter li{
    list-style: none;
    float: left;
    padding: 5px 20px 5px 20px;

}
.filter li:hover{
    cursor: pointer;
}
.choose{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}
.message{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

.printed img{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    float: left;
}

.user_logo_nav img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    float: left;
    margin-top: -10px;
}
.user_logo img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    float: left;
}
.user-name{
    float: left;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: dimgray;
}
.tags{
    float: left;
    /* background-color: rgb(238, 238, 238); */
    border-radius: 5px;
    padding: 5px 10px 0px 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.tag{
    background-color: lightsalmon;
    border-radius: 5px;
    font-size: 14px;
    float: left;
    padding: 0px 5px 0px 5px;
    /* padding: 3px; */
    margin-left: 10px;
}
.topic{
    float: left;
    padding: 5px;
}
.title{
    clear: both;
    padding: 5px;
}
.text-body{
    clear: both;
    padding: 5px;
    color: dimgray;
}

.pics img{
    padding: 5px;
}
.pics img:hover{
    cursor: pointer;
}
.post-footer{
    clear: both;
    height: 30px;;
    padding: 8px 5px 3px 5px;

}
.list{
    float: left;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    color: dimgray;
}
.list:hover{
    background-color: rgb(243, 243, 243);
    cursor: pointer;

}
/* .praise{
    float: left;
    padding-right: 10px;
}
.praise-down{
    float: left;
    padding-right: 10px;
}
.comment{
    float: left;
    padding-right: 10px;
}
.favorit{
    float: left;
    padding-right: 10px;
}
*/
.complain{
    float: right;
}

.nova-card{
    background-color: white;
    border-radius: 3px;
}
.UI-optimize{
    padding-bottom: 1000px;
}
.shopping-cart{
    border: solid 1px green;
}
.nova-card ul{
    padding-left: 10px;
}
.nova-card li{
    text-decoration: none;
    list-style: none;
    padding: 5px;
}
.nova-card li:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}
.console-logo{
    min-height: 900px;
    padding: 100px 100px 420px;
}
.cust-list li{
    float: left;
    font-size: 12px;
}
.cust-border {
    border-style: ridge;
    border-radius: 6px;
    padding: 20px;
}

.cust-border1 {
    border-style: ridge;
    border-radius: 6px;
    padding:20px 20px 800px;
}

.cust-margin{
    margin-right: 10px;
    margin-top: 10px;
}
.cust-margin2{
    margin-top: 5px;
    vertical-align: middle;
    text-align: left;
    padding: 10px;
}
.cust-margin3{
    margin-top: 5px;
    vertical-align: middle;
    text-align: center;
}
.cust-margin4{
    margin-top: 3px;

}
.cust-margin5{
    margin-top: 2px;
}
.cust-margin6{
    margin-top: 1px;
}

.cust-margin7{
    margin-top: 5px;
    vertical-align: middle;
    text-align: left;
}
.cust-margin8{
    margin-top: 3px;
    vertical-align: middle;
    text-align: center;
}

.cust-margin8{
    margin-left: 15px;
}

.cust-margin9{
    width: 270px;
    margin-right: 30px;
}

.cust-margin10{
    width: 1205px;
    margin-right: 30px;
}

.cust-margin11{
    vertical-align: middle;
    text-align: left;
}
.cust-margin12{
    margin-left: 10px;
}

.cust-margin13{
    margin-top: 5px;
    margin-left: 140px;
    vertical-align: middle;
    text-align: left;
    width:1205px;
}
.cust-margin14{

    vertical-align: middle;
    text-align: left;
    width:1205px;
    margin-top: 10px;
    padding: 20px;
}
.cust-margin-top{
    margin-top: 5px;

}
.cust-border-top{
  /* border-style: solid none none none; */
  border-top: solid 1px gray;
}
.cust-border3{
  border-style:   dotted dashed solid double;
}
.cust-border4 {
  border-bottom: solid 1px #d6d2d1;
}
.cust-p-color{
  color: #FF0000;
}
.cust-p-color2{
  color: #32CD32;
}
.cust-margin-menus{
  margin-right: 30px;
  margin-top: 3px;
}
.button-menus {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin-right: 9px;
  margin-top: 10px;
  width: 146px;
  height: 70px;
}

.button-pack{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 3%;
    width: 100%;
    height: 100%;
    font-size: large;
}

.button-tables {

  width: 57px;
  height: 40px;
  font-size: 20px;
}



.button2{
  font-size: 20px;
  width: 220px;
  margin-left: 200px;
}

.button3{
  font-size: 25px;
  width: 240px;
    height: 80px;
  margin-left: 50px;
}
.button5{
    font-size: 20px;
    width: 120px;
    margin-left: 8%;
    flex: 1;
}
.button6{
    font-size: 20px;
    width: 150px;
    margin-left: 8%;
    flex: 1;
}

.button4{

  vertical-align: middle;/*使用元素的垂直对齐*/

}

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    margin-right: 30px;
    margin-top: 3px;
    width: 170px;
    height: 70px;

    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.7s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -90px !important;
    margin-top: -220%;
    opacity: 0;
    transition: all 1.0s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
    width: 30%;
}
.center-adminLogin{
  margin-top: 50px;
  border: 3px solid green;
  text-align: center;
}

.modal {
    display: block;
    margin-left: 10px;
}

.dishesUnderLine {
    /* border-bottom: 1px solid #f1f1f1; */
}
.deleteButton {
  margin-bottom: 3px;
}
.sdhpBorder {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}
.FishBorder {
  border-style: dashed;
  border-width: 1px;
  border-color: gray;
}

.cust-text {
  font-weight: bold;
  color: black;
}
.cust-text1 {
  font-weight: bold;
  color: red;
}
.cust-adminLogin{
  font-size: 30px;
  width: 330px;
  margin-top: 170px;
  margin-left: 370px;
}
.div-MembershipPoints{
  width: 280px;
  height: 240px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  margin: 20px auto;
  vertical-align: middle;
  text-align: left;
}

.div-checkout-button{
  margin: 20px auto;
  vertical-align: middle;
  text-align: center;
}

.div-login-admin{
  margin: 20px auto;
  vertical-align: middle;
  text-align: center;
}

.cust-font{
  font-size: 20px;
}
.cust-label{
  font-size: 20px;
  /* UP/Right/DOWN/Left */

  margin:5px 5px 0px 0px;
  display:inline-block;
}

.div-centre{
  text-align: center;
}

.th-width-DishID{
  width:90px;
  }

.th-width-DishName{
  width:150px;
  }
.th-width-DishPrice{
  width:100px;
  }
.th-width-DishType{
  width:50px;
  }
.th-width-DishPrint{
    width:150px;
}
.padding-tables{
  padding: 0px;
}
.padding{
  padding: 10px;
}

.padding-cancel{
  padding: 0px;
}
.button-delete {
  height: 45px;
  margin-top: 6px;
}
.font-number {
  font-size: 35px;
  margin-top: 2px;
}

.strikeThrough{
  text-decoration: line-through;
   text-decoration-style: double;
  -webkit-text-decoration-color: red; /* Safari */
  text-decoration-color: #ff0000;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}
